*.iml
/.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
/meshsdk/build
/meshprovisioner/build
/mvvm/build
/mx-nrfmesh/build
/fyaccount/build
/gradle
/.gradle
/realsilota/.gitignore
/realsilota/consumer-rules.pro
/realsilota/proguard-rules.pro
/baseutil/.gitignore
/baseutil/consumer-rules.pro
/baseutil/proguard-rules.pro