<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="qk.sdk.mesh.demo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ToApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.GattDfuActivity"></activity>
        <activity android:name=".ui.PIRActivity" />
        <activity android:name=".ui.OnOffMeshActivity" />
        <activity android:name=".ui.GroupActivity" />
        <activity android:name=".ui.NetKeyActivity" /> <!-- <activity android:name=".ui.ConnectMeshActivity" /> -->
        <activity android:name=".ui.ConnectTestActivity" />
        <activity android:name=".ui.MainMeshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".ui.ScanMeshActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->
        <activity
            android:name=".ui.ScanTestActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified"
            android:theme="@style/MyTheme" />
    </application>

</manifest>